main.main-content{
    min-height: 800px;
    padding-bottom: 50px;
}


.navbar-brand img{
    max-width: 250px;
}
.main-nav-container .main-nav-menu{
    justify-content: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
}
.main-nav-container .main-nav-menu .dropdown-menu{
    /*left: unset;
    right: 0;*/
}

.main-nav-container .main-nav-menu .navbar-nav{
    align-items: center;
}

.main-nav-container .main-nav-menu .navbar-nav .nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.main-nav-container .main-nav-menu .nav-item.active .nav-link
{
    border-bottom: solid 1px #002469;
    color: #002469;
    font-weight: 700;
}

.main-nav-container .main-nav-menu .nav-item .nav-link{
    font-weight: 500;
}

.main-nav-container .main-nav-menu .navbar-nav .nav-item .btn-container{
    padding-left: 80px;
    padding-right: 80px;
}








.response-container{
  display: none;
}

.response-container ul{
  padding: 0;
  margin: 0;
}
.response-container ul li{
  list-style-type: none;
  color: #fff;
  background-color: #DB2122;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.response-container p{
  color: #fff;
  background-color: #316300;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}








/*///////////////////////////////////////////////*/





    :root{
      --primary:#2419f7;
      --secondary:#077391;
      --light:#f2f4f5;
      --dark:#cfd0d1;
    }

    body{
      scroll-behavior:smooth;
    }

    section{
      padding:70px 0;
    }

    .bg-light-alt{ background:var(--light); }
    .bg-dark-alt{ background:var(--dark); }

    /* Header */
    .logo{
      max-width:120px;
    }

    /* Hero */
    .hero{
      background:
        linear-gradient(to right, rgba(0,0,255,0.7), #000 ),
        url("https://dummyimage.com/800x400/000/fff");
      background-size:cover;
      background-position:center;
      color:#fff;
      text-align:center;
      padding:120px 20px;
    }

    /* Testimonials */
    .testimonial-card img{
      border-radius:50%;
    }

    /* Footer */
    footer{
      background:var(--primary);
      color:#fff;
    }

    footer a{
      color:#fff;
      text-decoration:none;
    }

    footer a:hover{
      text-decoration:underline;
    }

    .copyright{
      background:#cfd0d1;
      text-align:center;
      padding:10px;
      font-size:14px;
    }